/backend/node_modules
/backend/dist
/backend/static
/backend/package-lock.json

/frontend/node_modules
/frontend/dist
/frontend/.eslintrc.cjs
/frontend/package-lock.json
/frontend/README.md
/node_modules

